[defaults]
inventory = inventory.ini
host_key_checking = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ProxyCommand="ssh -W %h:%p -q ubuntu@98.92.94.75 -i ~/.ssh/webkeys.pem"
